<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPDBookAccessPath</key>
	<string>GLLara.html</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookIndexPath</key>
	<string>GLLara.helpindex</string>
	<key>HPDBookTitle</key>
	<string>GLLara Help</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>de.ferroequinologist.GLLara.help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GLLara Help</string>
</dict>
</plist>
