<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>renderParameters</key>
	<dict>
		<key>tshirt</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.15</real>
			<key>bump1UVScale</key>
			<integer>16</integer>
			<key>bump2UVScale</key>
			<integer>32</integer>
		</dict>
		<key>trousers</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.15</real>
			<key>bump1UVScale</key>
			<integer>10</integer>
			<key>bump2UVScale</key>
			<integer>10</integer>
		</dict>
		<key>boots</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<integer>12</integer>
		</dict>
		<key>bands3</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<integer>12</integer>
		</dict>
		<key>bands2</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<integer>12</integer>
		</dict>
		<key>bands1</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
			<key>bump1UVScale</key>
			<integer>12</integer>
			<key>bump2UVScale</key>
			<integer>12</integer>
		</dict>
		<key>metal4</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.6</real>
		</dict>
		<key>metal2</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.6</real>
		</dict>
		<key>metal1</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.6</real>
		</dict>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>bands1</string>
			<string>bands2</string>
			<string>bands3</string>
			<string>boots</string>
			<string>trousers</string>
			<string>tshirt</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>arms</string>
			<string>body</string>
			<string>face</string>
			<string>hand1left</string>
			<string>hand1right</string>
			<string>mouth</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>eyes</string>
			<string>metal1</string>
			<string>metal2</string>
			<string>metal4</string>
			<string>zipper1</string>
			<string>zipper2</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>hair1</string>
		</array>
		<key>MeshGroup6</key>
		<array>
			<string>hair3</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>eyebrows</string>
			<string>eyelashes</string>
			<string>eyeshading</string>
			<string>hair2left</string>
			<string>hair2right</string>
			<string>jewelry</string>
			<string>scar</string>
		</array>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bumpSpecularAmount</key>
		<real>0.1</real>
	</dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
</dict>
</plist>
