<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string></string>
	<key>cameraTargets</key>
	<dict>
		<key>root</key>
		<array>
			<string>root</string>
		</array>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup17</key>
		<array>
			<string>trunk</string>
		</array>
		<key>MeshGroup19</key>
		<array>
			<string>leaves</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict/>
</dict>
</plist>
