<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
	<key>cameraTargets</key>
	<dict>
		<key>body</key>
		<array>
			<string>spine 2</string>
		</array>
		<key>head</key>
		<array>
			<string>head jaw</string>
		</array>
		<key>tail</key>
		<array>
			<string>tail 5</string>
		</array>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bumpSpecularAmount</key>
		<real>0.29999999999999999</real>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup4</key>
		<array>
			<string>mesh001</string>
			<string>mesh002</string>
			<string>mesh003</string>
			<string>mesh004</string>
			<string>mesh005</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict/>
</dict>
</plist>
