<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
	<key>cameraTargets</key>
	<dict>
		<key>head</key>
		<array>
			<string>body 1</string>
		</array>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bumpSpecularAmount</key>
		<real>0.20000000000000001</real>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>part1</string>
			<string>part2</string>
			<string>part4</string>
			<string>part5</string>
			<string>part6</string>
			<string>part7</string>
			<string>part8</string>
			<string>part9</string>
			<string>part10</string>
			<string>part12</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>part11</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>part3</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict>
		<key>part1</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part10</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part12</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part2</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part4</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part5</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part6</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part7</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part8</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>part9</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
	</dict>
</dict>
</plist>
