<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>lara</string>
	<key>cameraTargets</key>
	<dict/>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>backpack</string>
			<string>belts</string>
			<string>boots</string>
			<string>gloves</string>
			<string>jacket</string>
			<string>trousers</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>body</string>
			<string>eyeducts</string>
			<string>face</string>
			<string>fingers</string>
			<string>light1</string>
			<string>light2</string>
			<string>mouth</string>
			<string>ribbon</string>
		</array>
		<key>MeshGroup3</key>
		<array>
			<string>backring</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>eyeirises</string>
			<string>hair1</string>
			<string>metal</string>
			<string>zipper1</string>
			<string>zipper2</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>eyewhites</string>
		</array>
		<key>MeshGroup6</key>
		<array>
			<string>hair2</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>eyebrows</string>
			<string>eyelashes</string>
			<string>eyeshading</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict>
		<key>backpack</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>belts</key>
		<dict>
			<key>bump1UVScale</key>
			<real>10</real>
			<key>bump2UVScale</key>
			<real>20</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>boots</key>
		<dict>
			<key>bump1UVScale</key>
			<real>15</real>
			<key>bump2UVScale</key>
			<real>30</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>gloves</key>
		<dict>
			<key>bump1UVScale</key>
			<real>5</real>
			<key>bump2UVScale</key>
			<real>7</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>jacket</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>metal</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>trousers</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
	</dict>
</dict>
</plist>
