<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>renderParameters</key>
	<dict>
		<key>mesh012</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.6</real>
		</dict>
		<key>mesh013</key>
		<dict>
			<key>bump1UVScale</key>
			<integer>12</integer>
			<key>bump2UVScale</key>
			<integer>16</integer>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
		</dict>
		<key>mesh015</key>
		<dict>
			<key>bump1UVScale</key>
			<integer>12</integer>
			<key>bump2UVScale</key>
			<integer>16</integer>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
		</dict>
		<key>mesh022</key>
		<dict>
			<key>bump1UVScale</key>
			<integer>12</integer>
			<key>bump2UVScale</key>
			<integer>16</integer>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
		</dict>
		<key>mesh023</key>
		<dict>
			<key>bump1UVScale</key>
			<integer>12</integer>
			<key>bump2UVScale</key>
			<integer>16</integer>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
		</dict>
		<key>mesh024</key>
		<dict>
			<key>bump1UVScale</key>
			<integer>12</integer>
			<key>bump2UVScale</key>
			<integer>16</integer>
			<key>bumpSpecularAmount</key>
			<real>0.1</real>
		</dict>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>mesh013</string>
			<string>mesh015</string>
			<string>mesh022</string>
			<string>mesh023</string>
			<string>mesh024</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>mesh001</string>
			<string>mesh008</string>
			<string>mesh010</string>
			<string>mesh017</string>
			<string>mesh018</string>
		</array>
		<key>MeshGroup3</key>
		<array>
			<string>mesh014</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>mesh009</string>
			<string>mesh012</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>mesh004</string>
			<string>mesh005</string>
			<string>mesh016</string>
		</array>
		<key>MeshGroup6</key>
		<array>
			<string>mesh011</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>mesh003</string>
			<string>mesh006</string>
			<string>mesh007</string>
		</array>
	</dict>
	<key>base</key>
	<string>lara</string>
</dict>
</plist>
