<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>lara</string>
	<key>cameraTargets</key>
	<dict/>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>collar</string>
			<string>suit</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>arms</string>
			<string>body</string>
			<string>eyeducts</string>
			<string>face</string>
			<string>feet</string>
			<string>hands</string>
			<string>legs</string>
			<string>mouth</string>
			<string>ribbon</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>eyeirises</string>
			<string>hair1</string>
			<string>zipper1</string>
			<string>zipper2</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>eyewhites</string>
		</array>
		<key>MeshGroup6</key>
		<array>
			<string>hair2</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>eyebrows</string>
			<string>eyelashes</string>
			<string>eyeshading</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict>
		<key>collar</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>suit</key>
		<dict>
			<key>bump1UVScale</key>
			<real>24</real>
			<key>bump2UVScale</key>
			<real>48</real>
			<key>bumpSpecularAmount</key>
			<real>0.29999999999999999</real>
		</dict>
	</dict>
</dict>
</plist>
