<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>lara</string>
	<key>cameraTargets</key>
	<dict/>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>mesh008</string>
			<string>mesh009</string>
			<string>mesh010</string>
			<string>mesh017</string>
			<string>mesh021</string>
			<string>mesh022</string>
			<string>mesh024</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>mesh001</string>
			<string>mesh004</string>
			<string>mesh013</string>
			<string>mesh015</string>
			<string>mesh019</string>
			<string>mesh020</string>
			<string>mesh023</string>
		</array>
		<key>MeshGroup3</key>
		<array>
			<string>mesh018</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>mesh011</string>
			<string>mesh014</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>mesh002</string>
			<string>mesh003</string>
			<string>mesh026</string>
		</array>
		<key>MeshGroup6</key>
		<array>
			<string>mesh016</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>mesh005</string>
			<string>mesh007</string>
			<string>mesh012</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict>
		<key>mesh008</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>mesh009</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>mesh010</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>mesh011</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>mesh017</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>mesh021</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>mesh022</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>mesh024</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
	</dict>
</dict>
</plist>
