<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
	<key>cameraTargets</key>
	<dict>
		<key>body lower</key>
		<array>
			<string>pelvis</string>
		</array>
		<key>body upper</key>
		<array>
			<string>arm left shoulder 1</string>
			<string>arm right shoulder 1</string>
		</array>
		<key>foot left</key>
		<array>
			<string>leg left ankle</string>
		</array>
		<key>foot right</key>
		<array>
			<string>leg right ankle</string>
		</array>
		<key>hand left</key>
		<array>
			<string>arm left wrist</string>
		</array>
		<key>hand right</key>
		<array>
			<string>arm right wrist</string>
		</array>
		<key>head</key>
		<array>
			<string>head jaw 2</string>
		</array>
		<key>knee left</key>
		<array>
			<string>leg left knee</string>
		</array>
		<key>knee right</key>
		<array>
			<string>leg right knee</string>
		</array>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bumpSpecularAmount</key>
		<real>0.10000000000000001</real>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>clothes1</string>
			<string>gear</string>
			<string>belt2</string>
			<string>clothes3</string>
			<string>hat</string>
			<string>neckerchief</string>
			<string>gloves</string>
			<string>trousers</string>
			<string>clothleft</string>
			<string>clothright</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>body</string>
			<string>metal</string>
			<string>zipper</string>
			<string>belt1</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>hair1</string>
			<string>eyes</string>
			<string>clothes2</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>hair2</string>
			<string>eyebrows</string>
			<string>eyelashes</string>
			<string>beard</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict>
		<key>belt2</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>clothes1</key>
		<dict>
			<key>bump1UVScale</key>
			<real>8</real>
			<key>bump2UVScale</key>
			<real>8</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>clothes3</key>
		<dict>
			<key>bump1UVScale</key>
			<real>8</real>
			<key>bump2UVScale</key>
			<real>8</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>clothleft</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>clothright</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>gear</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>gloves</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>hat</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>metal</key>
		<dict>
			<key>bumpSpecularAmount</key>
			<real>0.40000000000000002</real>
		</dict>
		<key>neckerchief</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
		<key>trousers</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.050000000000000003</real>
		</dict>
	</dict>
</dict>
</plist>
