<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
	<key>cameraTargets</key>
	<dict>
		<key>root</key>
		<array>
			<string>root</string>
		</array>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup16</key>
		<array>
			<string>Mesh031</string>
			<string>Mesh051</string>
			<string>Mesh052</string>
			<string>Mesh053</string>
		</array>
		<key>MeshGroup17</key>
		<array>
			<string>Mesh001</string>
			<string>Mesh002</string>
			<string>Mesh003</string>
			<string>Mesh004</string>
			<string>Mesh007</string>
			<string>Mesh008</string>
			<string>Mesh009</string>
			<string>Mesh010</string>
			<string>Mesh011</string>
			<string>Mesh012</string>
			<string>Mesh013</string>
			<string>Mesh014</string>
			<string>Mesh015</string>
			<string>Mesh016</string>
			<string>Mesh017</string>
			<string>Mesh018</string>
			<string>Mesh019</string>
			<string>Mesh020</string>
			<string>Mesh021</string>
			<string>Mesh022</string>
			<string>Mesh023</string>
			<string>Mesh024</string>
			<string>Mesh025</string>
			<string>Mesh026</string>
			<string>Mesh027</string>
			<string>Mesh028</string>
			<string>Mesh029</string>
			<string>Mesh030</string>
			<string>Mesh032</string>
			<string>Mesh034</string>
			<string>Mesh035</string>
			<string>Mesh036</string>
			<string>Mesh037</string>
			<string>Mesh038</string>
			<string>Mesh039</string>
			<string>Mesh040</string>
			<string>Mesh041</string>
			<string>Mesh042</string>
			<string>Mesh043</string>
			<string>Mesh044</string>
			<string>Mesh045</string>
			<string>Mesh046</string>
			<string>Mesh054</string>
			<string>Mesh055</string>
		</array>
		<key>MeshGroup19</key>
		<array>
			<string>Mesh005</string>
			<string>Mesh006</string>
			<string>Mesh033</string>
			<string>Mesh050</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict/>
</dict>
</plist>
