<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>renderParameterDescriptions</key>
	<dict>
		<key>bump2UVScale</key>
		<dict>
			<key>title</key>
			<string>Bump Detail UV Scale 2</string>
			<key>description</key>
			<string>How often the second detail texture is repeated over the model. Higher values mean smaller structures.</string>
			<key>max</key>
			<integer>32</integer>
			<key>min</key>
			<real>0.01</real>
		</dict>
		<key>bump1UVScale</key>
		<dict>
			<key>title</key>
			<string>Bump Detail UV Scale 1</string>
			<key>description</key>
			<string>How often the first detail texture is repeated over the model. Higher values mean smaller structures.</string>
			<key>max</key>
			<integer>32</integer>
			<key>min</key>
			<real>0.01</real>
		</dict>
		<key>bumpUVScale</key>
		<dict>
			<key>title</key>
			<string>Bump Detail UV Scale</string>
			<key>description</key>
			<string>How often the detail texture is repeated over the model. Higher values mean smaller structures.</string>
			<key>max</key>
			<integer>32</integer>
			<key>min</key>
			<real>0.01</real>
		</dict>
		<key>reflectionAmount</key>
		<dict>
			<key>title</key>
			<string>Reflection</string>
			<key>description</key>
			<string>Blends the color with the environment map.</string>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
		</dict>
		<key>bumpSpecularGloss</key>
		<dict>
			<key>title</key>
			<string>Bump Specular Gloss</string>
			<key>description</key>
			<string>Sharpness of the highlights. Higher values produce smaller, more focused highlights.</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
		</dict>
		<key>bumpSpecularAmount</key>
		<dict>
			<key>title</key>
			<string>Bump Specular Amount</string>
			<key>description</key>
			<string>Intensity of the highlights.</string>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bumpSpecularGloss</key>
		<integer>10</integer>
	</dict>
	<key>shaders</key>
	<dict>
		<key>DiffuseSpecular</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup33</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup32</string>
			</array>
			<key>fragment</key>
			<string>DiffuseSpecular.fs</string>
			<key>vertex</key>
			<string>Basic.vs</string>
		</dict>
		<key>StaticTRLShadeless</key>
		<dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>vertex</key>
			<string>StaticBasic.vs</string>
			<key>fragment</key>
			<string>Shadeless.fs</string>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup13</string>
			</array>
		</dict>
		<key>StaticTRUDiffuseLightmap</key>
		<dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
			</array>
			<key>fragment</key>
			<string>DiffuseLightmap2TexCoords.fs</string>
			<key>vertex</key>
			<string>StaticBasic2TexCoords.vs</string>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup19</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup17</string>
			</array>
		</dict>
		<key>StaticTRUDiffuse</key>
		<dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>fragment</key>
			<string>Diffuse.fs</string>
			<key>vertex</key>
			<string>StaticBasic2TexCoords.vs</string>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup16</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup18</string>
			</array>
		</dict>
		<key>StaticTRLBasic</key>
		<dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>vertex</key>
			<string>StaticBasic.vs</string>
			<key>fragment</key>
			<string>ShadelessVertexColor.fs</string>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup15</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup14</string>
			</array>
		</dict>
		<key>Shadeless</key>
		<dict>
			<key>fragment</key>
			<string>Shadeless.fs</string>
			<key>vertex</key>
			<string>Basic.vs</string>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup10</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup21</string>
			</array>
		</dict>
		<key>DiffuseLightmap</key>
		<dict>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup9</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup3</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
			</array>
			<key>fragment</key>
			<string>DiffuseLightmap.fs</string>
			<key>vertex</key>
			<string>Basic.vs</string>
		</dict>
		<key>Diffuse</key>
		<dict>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup7</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup5</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>fragment</key>
			<string>Diffuse.fs</string>
			<key>vertex</key>
			<string>Basic.vs</string>
		</dict>
		<key>MetallicBump3</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>maskTexture</string>
				<string>bump1Texture</string>
				<string>bump2Texture</string>
				<string>reflectionTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup28</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup29</string>
			</array>
			<key>parameters</key>
			<array>
				<string>reflectionAmount</string>
				<string>bumpSpecularAmount</string>
				<string>bumpUVScale</string>
			</array>
			<key>fragment</key>
			<string>MetallicBump3.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>Metallic</key>
		<dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>reflectionTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup26</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup27</string>
			</array>
			<key>parameters</key>
			<array>
				<string>reflectionAmount</string>
			</array>
			<key>fragment</key>
			<string>Metallic.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>StaticTRLNextGen</key>
		<dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup12</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup11</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>fragment</key>
			<string>DiffuseBump.fs</string>
			<key>vertex</key>
			<string>StaticBump.vs</string>
		</dict>
		<key>DiffuseBump</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup4</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>HandGuns</string>
				<string>MeshGroup6</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>fragment</key>
			<string>DiffuseBump.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>DiffuseLightmapBump</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup8</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>ThorGearAll</string>
				<string>MeshGroup2</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>fragment</key>
			<string>DiffuseLightmapBump.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>DiffuseLightmapBump3Specular</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
				<string>maskTexture</string>
				<string>bump1Texture</string>
				<string>bump2Texture</string>
				<string>specularTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup22</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup23</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
				<string>bump1UVScale</string>
				<string>bump2UVScale</string>
			</array>
			<key>fragment</key>
			<string>DiffuseLightmapBump3Specular.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>DiffuseLightmapBumpSpecular</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
				<string>specularTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup24</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup25</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>fragment</key>
			<string>DiffuseLightmapBumpSpecular.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>DiffuseLightmapBump3</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup20</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup1</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
				<string>maskTexture</string>
				<string>bump1Texture</string>
				<string>bump2Texture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
				<string>bump1UVScale</string>
				<string>bump2UVScale</string>
			</array>
			<key>fragment</key>
			<string>DiffuseLightmapBump3.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
		<key>DiffuseBumpEmission</key>
		<dict>
			<key>additionalParameters</key>
			<array>
				<string>bumpSpecularGloss</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup30</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup31</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>emissionTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>fragment</key>
			<string>DiffuseBumpEmission.fs</string>
			<key>vertex</key>
			<string>Bump.vs</string>
		</dict>
	</dict>
</dict>
</plist>
