<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>baseData</string>
	<key>xnaLaraShaderDescriptions</key>
	<dict>
		<key>DiffuseBumpSeparateSpecularScale</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>specularLighting</string>
				<string>specularTexture</string>
				<string>specularTextureScale</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
				<string>specularTextureScale</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>specularTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup43</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup42</string>
			</array>
		</dict>
		<key>DiffuseBumpSpecularEmission</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>specularLighting</string>
				<string>specularTexture</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>emission</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup38</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup39</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>specularTexture</string>
				<string>emissionTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
		</dict>
		<key>DiffuseBumpSeparateSpecular</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>specularLighting</string>
				<string>specularTexture</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>specularTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup41</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup40</string>
			</array>
		</dict>
		<key>DiffuseSpecular</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>specularLighting</string>
				<string>specularTexture</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup33</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup32</string>
			</array>
		</dict>
		<key>StaticTRLShadeless</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup13</string>
			</array>
		</dict>
		<key>StaticTRUDiffuseLightmap</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>lightmap</string>
			</array>
			<key>texCoordSets</key>
			<dict>
				<key>lightmapTexture</key>
				<integer>1</integer>
			</dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup19</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup17</string>
			</array>
		</dict>
		<key>StaticTRUDiffuse</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>ambient</string>
				<string>vertexColor</string>
				<string>diffuseLighting</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup16</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup18</string>
			</array>
		</dict>
		<key>StaticTRLBasic</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>vertexColor</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup15</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup14</string>
			</array>
		</dict>
		<key>Shadeless</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup10</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup21</string>
			</array>
		</dict>
		<key>DiffuseLightmap</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
				<string>lightmap</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup9</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup3</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
			</array>
		</dict>
		<key>Diffuse</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup7</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup5</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
			</array>
		</dict>
		<key>MetallicBump3</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>normalDetailMap</string>
				<string>reflection</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>maskTexture</string>
				<string>bump1Texture</string>
				<string>bump2Texture</string>
				<string>reflectionTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup28</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup29</string>
			</array>
			<key>parameters</key>
			<array>
				<string>reflectionAmount</string>
				<string>bumpSpecularAmount</string>
				<array>
					<string>bump1UVScale</string>
					<string>bump2UVScale</string>
				</array>
			</array>
		</dict>
		<key>Metallic</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>reflection</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>reflectionTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup26</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup27</string>
			</array>
			<key>parameters</key>
			<array>
				<string>reflectionAmount</string>
			</array>
		</dict>
		<key>StaticTRLNextGen</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>defines</key>
			<dict>
				<key>CAMERA_DIRECTION</key>
				<string>1</string>
				<key>RENDER_PARAMETERS</key>
				<string>1</string>
				<key>DIFFUSE</key>
				<string>1</string>
				<key>AMBIENT_COLOR</key>
				<string>1</string>
				<key>VERTEX_COLOR</key>
				<string>1</string>
				<key>SPECULAR</key>
				<string>1</string>
				<key>CALCULATE_TANGENT_TO_WORLD</key>
				<string>1</string>
			</dict>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup12</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup11</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
		</dict>
		<key>DiffuseBump</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup4</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>HandGuns</string>
				<string>MeshGroup6</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
		</dict>
		<key>DiffuseLightmapBump</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>lightmap</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup8</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>ThorGearAll</string>
				<string>MeshGroup2</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
		</dict>
		<key>DiffuseLightmapBump3Specular</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>specularTexture</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>normalDetailMap</string>
				<string>lightmap</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
				<string>maskTexture</string>
				<string>bump1Texture</string>
				<string>bump2Texture</string>
				<string>specularTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup22</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup23</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
				<string>bump1UVScale</string>
				<string>bump2UVScale</string>
			</array>
		</dict>
		<key>DiffuseLightmapBumpSpecular</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>lighting</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>specularTexture</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>lightmap</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
				<string>specularTexture</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup24</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup25</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
		</dict>
		<key>DiffuseLightmapBump3</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>normalDetailMap</string>
				<string>lightmap</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup20</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup1</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>lightmapTexture</string>
				<string>bumpTexture</string>
				<string>maskTexture</string>
				<string>bump1Texture</string>
				<string>bump2Texture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
				<string>bump1UVScale</string>
				<string>bump2UVScale</string>
			</array>
		</dict>
		<key>DiffuseBumpEmission</key>
		<dict>
			<key>base</key>
			<string>default</string>
			<key>modules</key>
			<array>
				<string>diffuseTexture</string>
				<string>skinning</string>
				<string>ambient</string>
				<string>diffuseLighting</string>
				<string>specularLighting</string>
				<string>vertexColor</string>
				<string>normalMap</string>
				<string>emission</string>
			</array>
			<key>solidMeshGroups</key>
			<array>
				<string>MeshGroup30</string>
			</array>
			<key>alphaMeshGroups</key>
			<array>
				<string>MeshGroup31</string>
			</array>
			<key>textures</key>
			<array>
				<string>diffuseTexture</string>
				<string>bumpTexture</string>
				<string>emissionTexture</string>
			</array>
			<key>parameters</key>
			<array>
				<string>bumpSpecularAmount</string>
			</array>
		</dict>
	</dict>
	<key>defaultTextures</key>
	<dict>
		<key>diffuseTexture</key>
		<string>defaultColor.png</string>
		<key>maskTexture</key>
		<string>defaultWhite.png</string>
		<key>bump2Texture</key>
		<string>defaultBump.png</string>
		<key>bump1Texture</key>
		<string>defaultBump.png</string>
		<key>bumpTexture</key>
		<string>defaultBump.png</string>
		<key>emissionTexture</key>
		<string>defaultBlack.png</string>
		<key>lightmapTexture</key>
		<string>defaultWhite.png</string>
		<key>specularTexture</key>
		<string>defaultWhite.png</string>
		<key>reflectionTexture</key>
		<string>defaultReflection.jpg</string>
	</dict>
	<key>textureDescriptions</key>
	<dict>
		<key>reflectionTexture</key>
		<dict>
			<key>title</key>
			<string>Reflection Texture</string>
			<key>description</key>
			<string>Image that shows up in reflected parts.</string>
		</dict>
		<key>specularTexture</key>
		<dict>
			<key>title</key>
			<string>Specular Texture</string>
			<key>description</key>
			<string>Color and intensity of highlights.</string>
		</dict>
		<key>lightmapTexture</key>
		<dict>
			<key>title</key>
			<string>Light Map Texture</string>
			<key>description</key>
			<string>Additional light intensity values.</string>
		</dict>
		<key>maskTexture</key>
		<dict>
			<key>title</key>
			<string>Detail Bump Texture Mask</string>
			<key>description</key>
			<string>In red parts, detail bump 1 is used, in green detail bump 2.</string>
		</dict>
		<key>bump1Texture</key>
		<dict>
			<key>title</key>
			<string>Detail Bump Texture 1</string>
			<key>description</key>
			<string>Additional detail structure.</string>
		</dict>
		<key>bump2Texture</key>
		<dict>
			<key>title</key>
			<string>Detail Bump Texture 2</string>
			<key>description</key>
			<string>Additional detail structure.</string>
		</dict>
		<key>emissionTexture</key>
		<dict>
			<key>title</key>
			<string>Emission Texture</string>
			<key>description</key>
			<string>Provides glowing parts.</string>
		</dict>
		<key>bumpTexture</key>
		<dict>
			<key>title</key>
			<string>Bump Texture</string>
			<key>description</key>
			<string>Modifies lighting and reflections to give more surface structure.</string>
		</dict>
		<key>diffuseTexture</key>
		<dict>
			<key>title</key>
			<string>Diffuse Texture</string>
			<key>description</key>
			<string>The basic color information.</string>
		</dict>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bump1UVScale</key>
		<integer>1</integer>
		<key>bumpUVScale</key>
		<integer>1</integer>
		<key>bump2UVScale</key>
		<integer>1</integer>
		<key>bumpSpecularAmount</key>
		<real>0.5</real>
		<key>reflectionAmount</key>
		<real>0.5</real>
		<key>bumpSpecularGloss</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
