<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shadersForGroupsAlpha</key>
	<dict>
		<key>Shadeless</key>
		<array>
			<string>MeshGroup21</string>
		</array>
		<key>DiffuseLightmap</key>
		<array>
			<string>MeshGroup9</string>
		</array>
		<key>DiffuseLightmapBump</key>
		<array>
			<string>MeshGroup8</string>
		</array>
		<key>StaticTRUDiffuseLightmap</key>
		<array>
			<string>MeshGroup19</string>
		</array>
		<key>StaticTRUDiffuse</key>
		<array>
			<string>MeshGroup18</string>
		</array>
		<key>StaticTRLBasic</key>
		<array>
			<string>MeshGroup15</string>
		</array>
		<key>StaticTRLNextGen</key>
		<array>
			<string>MeshGroup12</string>
		</array>
		<key>Diffuse</key>
		<array>
			<string>MeshGroup7</string>
		</array>
		<key>DiffuseBump</key>
		<array>
			<string>HandGuns</string>
			<string>MeshGroup6</string>
		</array>
		<key>MetallicBump3</key>
		<array>
			<string>MeshGroup29</string>
		</array>
		<key>Metallic</key>
		<array>
			<string>MeshGroup27</string>
		</array>
		<key>DiffuseLightmapBump3Specular</key>
		<array>
			<string>MeshGroup23</string>
		</array>
		<key>DiffuseLightmapBumpSpecular</key>
		<array>
			<string>MeshGroup25</string>
		</array>
		<key>DiffuseLightmapBump3</key>
		<array>
			<string>MeshGroup20</string>
		</array>
	</dict>
	<key>shadersForGroups</key>
	<dict>
		<key>StaticTRUDiffuseLightmap</key>
		<array>
			<string>MeshGroup17</string>
		</array>
		<key>StaticTRUDiffuse</key>
		<array>
			<string>MeshGroup16</string>
		</array>
		<key>StaticTRLBasic</key>
		<array>
			<string>MeshGroup14</string>
		</array>
		<key>StaticTRLShadeless</key>
		<array>
			<string>MeshGroup13</string>
		</array>
		<key>StaticTRLNextGen</key>
		<array>
			<string>MeshGroup11</string>
		</array>
		<key>Diffuse</key>
		<array>
			<string>MeshGroup5</string>
		</array>
		<key>Shadeless</key>
		<array>
			<string>MeshGroup10</string>
		</array>
		<key>DiffuseBump</key>
		<array>
			<string>MeshGroup4</string>
		</array>
		<key>DiffuseLightmap</key>
		<array>
			<string>MeshGroup3</string>
		</array>
		<key>DiffuseLightmapBump</key>
		<array>
			<string>ThorGearAll</string>
			<string>MeshGroup2</string>
		</array>
		<key>MetallicBump3</key>
		<array>
			<string>MeshGroup28</string>
		</array>
		<key>Metallic</key>
		<array>
			<string>MeshGroup26</string>
		</array>
		<key>DiffuseLightmapBump3Specular</key>
		<array>
			<string>MeshGroup22</string>
		</array>
		<key>DiffuseLightmapBumpSpecular</key>
		<array>
			<string>MeshGroup24</string>
		</array>
		<key>DiffuseLightmapBump3</key>
		<array>
			<string>MeshGroup1</string>
		</array>
	</dict>
</dict>
</plist>
