<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cameraTargets</key>
	<dict>
		<key>root</key>
		<array>
			<string>root</string>
		</array>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup16</key>
		<array>
			<string>part1</string>
			<string>part2</string>
			<string>part3</string>
			<string>part4</string>
			<string>part12</string>
			<string>part23</string>
			<string>part24</string>
			<string>part25</string>
			<string>part34</string>
			<string>part44</string>
		</array>
		<key>MeshGroup17</key>
		<array>
			<string>part5</string>
			<string>part6</string>
			<string>part7</string>
			<string>part8</string>
			<string>part9</string>
			<string>part10</string>
			<string>part11</string>
			<string>part14</string>
			<string>part15</string>
			<string>part16</string>
			<string>part17</string>
			<string>part18</string>
			<string>part19</string>
			<string>part20</string>
			<string>part21</string>
			<string>part26</string>
			<string>part27</string>
			<string>part28</string>
			<string>part29</string>
			<string>part30</string>
			<string>part31</string>
			<string>part32</string>
			<string>part33</string>
			<string>part35</string>
			<string>part36</string>
			<string>part37</string>
			<string>part38</string>
			<string>part39</string>
			<string>part40</string>
		</array>
		<key>MeshGroup18</key>
		<array>
			<string>part13</string>
			<string>part22</string>
			<string>part41</string>
			<string>part42</string>
		</array>
	</dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
</dict>
</plist>
