<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base</key>
	<string>xnaLaraDefault</string>
	<key>cameraTargets</key>
	<dict>
		<key>body lower</key>
		<array>
			<string>pelvis</string>
		</array>
		<key>body upper</key>
		<array>
			<string>spine upper</string>
		</array>
		<key>foot left</key>
		<array>
			<string>leg left ankle</string>
		</array>
		<key>foot right</key>
		<array>
			<string>leg right ankle</string>
		</array>
		<key>hand left</key>
		<array>
			<string>arm left wrist</string>
		</array>
		<key>hand right</key>
		<array>
			<string>arm right wrist</string>
		</array>
		<key>head</key>
		<array>
			<string>head jaw</string>
		</array>
		<key>knee left</key>
		<array>
			<string>leg left knee</string>
		</array>
		<key>knee right</key>
		<array>
			<string>leg right knee</string>
		</array>
	</dict>
	<key>defaultRenderParameters</key>
	<dict>
		<key>bumpSpecularAmount</key>
		<real>0.10000000000000001</real>
	</dict>
	<key>meshGroupNames</key>
	<dict>
		<key>MeshGroup1</key>
		<array>
			<string>band</string>
			<string>hair</string>
			<string>jacket</string>
			<string>shoes</string>
			<string>trousers</string>
		</array>
		<key>MeshGroup2</key>
		<array>
			<string>face</string>
			<string>handleft</string>
			<string>handright</string>
			<string>mouth</string>
		</array>
		<key>MeshGroup3</key>
		<array>
			<string>body</string>
		</array>
		<key>MeshGroup4</key>
		<array>
			<string>eyeirises</string>
			<string>necklaces</string>
		</array>
		<key>MeshGroup5</key>
		<array>
			<string>eyewhites</string>
			<string>watch</string>
		</array>
		<key>MeshGroup7</key>
		<array>
			<string>eyelashes</string>
			<string>eyeshading</string>
		</array>
	</dict>
	<key>renderParameters</key>
	<dict>
		<key>band</key>
		<dict>
			<key>bump1UVScale</key>
			<real>4</real>
			<key>bump2UVScale</key>
			<real>4</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>hair</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>jacket</key>
		<dict>
			<key>bump1UVScale</key>
			<real>16</real>
			<key>bump2UVScale</key>
			<real>16</real>
			<key>bumpSpecularAmount</key>
			<real>0.029999999999999999</real>
		</dict>
		<key>shoes</key>
		<dict>
			<key>bump1UVScale</key>
			<real>12</real>
			<key>bump2UVScale</key>
			<real>12</real>
			<key>bumpSpecularAmount</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>trousers</key>
		<dict>
			<key>bump1UVScale</key>
			<real>8</real>
			<key>bump2UVScale</key>
			<real>8</real>
			<key>bumpSpecularAmount</key>
			<real>0.029999999999999999</real>
		</dict>
	</dict>
</dict>
</plist>
