<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DiffuseLightmap</key>
	<dict>
		<key>textures</key>
		<array>
			<string>diffuseTexture</string>
			<string>lightmapTexture</string>
		</array>
		<key>fragment</key>
		<string>DiffuseLightmap.fs</string>
		<key>vertex</key>
		<string>Basic.vs</string>
	</dict>
	<key>Diffuse</key>
	<dict>
		<key>textures</key>
		<array>
			<string>diffuseTexture</string>
		</array>
		<key>fragment</key>
		<string>Diffuse.fs</string>
		<key>vertex</key>
		<string>Basic.vs</string>
	</dict>
	<key>MetallicBump3</key>
	<dict>
		<key>parameters</key>
		<array>
			<string>reflectionAmount</string>
			<string>bumpSpecularAmount</string>
			<string>bumpUVScale</string>
		</array>
		<key>fragment</key>
		<string>MetallicBump3.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>Metallic</key>
	<dict>
		<key>parameters</key>
		<array>
			<string>reflectionAmount</string>
		</array>
		<key>fragment</key>
		<string>Metallic.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>StaticTRLNextGen</key>
	<dict>
		<key>parameters</key>
		<array>
			<string>bumpSpecularAmount</string>
		</array>
		<key>fragment</key>
		<string>StaticTRLNextGen.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>DiffuseBump</key>
	<dict>
		<key>textures</key>
		<array>
			<string>diffuseTexture</string>
			<string>bumpTexture</string>
		</array>
		<key>parameters</key>
		<array>
			<string>bumpSpecularAmount</string>
		</array>
		<key>fragment</key>
		<string>DiffuseBump.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>DiffuseLightmapBump</key>
	<dict>
		<key>textures</key>
		<array>
			<string>diffuseTexture</string>
			<string>lightmapTexture</string>
			<string>bumpTexture</string>
		</array>
		<key>parameters</key>
		<array>
			<string>bumpSpecularAmount</string>
		</array>
		<key>fragment</key>
		<string>DiffuseLightmapBump.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>DiffuseLightmapBump3Specular</key>
	<dict>
		<key>parameters</key>
		<array>
			<string>bumpSpecularAmount</string>
			<string>bump1UVScale</string>
			<string>bump2UVScale</string>
		</array>
		<key>fragment</key>
		<string>DiffuseLightmapBump3Specular.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>DiffuseLightmapBumpSpecular</key>
	<dict>
		<key>parameters</key>
		<array>
			<string>bumpSpecularAmount</string>
		</array>
		<key>fragment</key>
		<string>DiffuseLightmapBumpSpecular.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
	<key>DiffuseLightmapBump3</key>
	<dict>
		<key>textures</key>
		<array>
			<string>diffuseTexture</string>
			<string>lightmapTexture</string>
			<string>bumpTexture</string>
			<string>bump1Texture</string>
			<string>bump2Texture</string>
			<string>maskTexture</string>
		</array>
		<key>parameters</key>
		<array>
			<string>bumpSpecularAmount</string>
			<string>bump1UVScale</string>
			<string>bump2UVScale</string>
		</array>
		<key>fragment</key>
		<string>DiffuseLightmapBump3.fs</string>
		<key>vertex</key>
		<string>Bump.vs</string>
	</dict>
</dict>
</plist>
